<div class="Caja">
  <div class="Caja_Header">
    <table class="Caja_Header_Tabla">
      <tr>
        <td class="Caja_Header_Datos">
          <h1 class="Caja_Header_Tabla-Titulo">Rubén Castillo Ramírez</h1>
          <tr>
            <p class="Caja_Header_Tabla-Info">
              Estudiante de 7mo semestre. <br> Ingeniería de software
              en la Facultad de Negocios y Tecnología UV
            </p>
          </tr>
        </td>

        <td>
          <img
            class="Caja_Informacion-Foto"
            src="../img/Yo.jpg"
            widht="100"
            heigth="100"
            alt=""
          />
        </td>

        <td>
          <section class="Caja_Informacion_Datos">
            <h3 class="Caja_Informacion_Datos-Titulo">Datos Personales</h3>

            <p class="Caja_Informacion_Datos-Subtitulo">Número de contacto:</p>
            <p class="Caja_Informacion_Datos-Info">+52 273-130-26-22</p>

            <p class="Caja_Informacion_Datos-Subtitulo">Email de contacto:</p>
            <p class="Caja_Informacion_Datos-Info">tartas.cas@gmail.com</p>

            <p class="Caja_Informacion_Datos-Subtitulo">Lugar de residencia:</p>
            <p class="Caja_Informacion_Datos-Info">Orizaba, Veracruz</p>
          </section>
        </td>
        
      </tr>
    </table>
  </div>
  <div class="Barra"></div>
</div>
