<div class="Contenedor_Principal">
  <div class="Contenedor_Secundario">
    <div class="Barra"></div>

    <table>

      <td>
        <app-header> </app-header>
      <tr>
        <td>
          <app-work-experience> </app-work-experience>
        </td>

        <td>
          <app-experience> </app-experience>
        </td>
      </tr>

      <tr>
        <td>
          <app-educacion></app-educacion>
        </td>

        <td>
          <app-intereses></app-intereses>
        </td>
      </tr>

      <tr>
        <td>
          <app-certificados></app-certificados>
        </td>

        <td>
          <app-idioma></app-idioma>
        </td>
      </tr>
      </td>
    </table>

    <div class="Barra"></div>
  </div>
</div>
